<!--============================ header ===========================-->

<div class="navbar">
    <div class="navbar__container grid">
        <div class="navbar__content">
            <h1 class="navbar__content-logo" routerLink="">Logo</h1>

            <ul class="navbar__content-items">
                <li><a routerLink="" class="navbar__content-item-1">Home</a></li>
                <li><a href="#">Issue</a></li>
            </ul>

            <div class="navbar__content-userauth">
                <button class="navbar__content-userauth-btn" routerLink="Login">Log in</button>
                <button class="navbar__content-userauth-btn" routerLink="SignUp">Sign Up</button>
                <span class="navbar__content-userauth-menu--bar">
                    <ion-icon name="menu-outline"></ion-icon>
                </span>
            </div>
        </div>
    </div>
</div>