.forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    &__container {
        row-gap: 2rem;
        column-gap: 3rem;
    }

    &__content {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0rem 14rem;
        line-height: 5;

        &-title {
            font-size: 1.75rem;
            text-align: center;
            font-weight: 500;
            margin-bottom: 0;
            height: 16vh;
        }

        &-p {
            line-height: 2;
            text-align: center;
            font-size: 16px;
            color: $text;
        }

        &-input {
            padding: 0.7rem 1rem;
            border-radius: 5px;
            outline: none;
            border: 1px solid $grey;
            margin-top: 2rem;
        }

        &-button {
            padding: 12px;
            margin-top: 1.5rem;
            border-radius: 6px;
            background-color: $purple;
            color: white;
            border: none;
            cursor: pointer;
        }

        &-login {
            text-align: center;
            cursor: pointer;
            font-weight: 400;

            & a {
                font-weight: 500;
                text-decoration: none;
                color: $purple;
            }
        }
    }
}
