/*============================ Sign Up Scss ===========================*/

.signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    &__container {
        row-gap: 2rem;
        column-gap: 3rem;
    }

    &__content {
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0rem 14rem;
        line-height: 5;

        &-subtitle {
            font-size: 1.125rem;
            text-align: center;
            font-weight: 500;
        }

        &-input {
            width: 31rem;
            padding: 1rem 1rem;
            border: 1px solid $grey;
            outline: none;
            border-radius: 5px;
            color: $text;
            cursor: text;
            margin-top: 1rem;
        }

        /* Chrome, Safari, Edge, Opera */
        & input::-webkit-outer-spin-button,
        & input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        & input[type=number] {
            -moz-appearance: textfield;
        }

        & .co {
            color: red;
            line-height: 3;
            padding-left: 0.3rem;
            height: 2rem;
        }

        &-checkbox {
            display: flex;
            align-items: center;
            margin-top: 3rem;
            padding-bottom: 0rem;

            & input {
                width: 2vw;
                height: 3vh;
                cursor: pointer;
            }

            & p {
                line-height: 1.2;
                font-size: 14px;
                // margin-top: 3rem;
                // margin-bottom: 3rem;
                padding-left: 1rem;
                cursor: pointer;
            }
        }

        &-button {
            margin-top: 2rem;
            padding: 12px;
            border-radius: 6px;
            background-color: $purple;
            color: white;
            border: none;
            cursor: pointer;
        }

        &-signIn {
            text-align: center;
            cursor: pointer;
            font-weight: 400;

            & a {
                font-weight: 500;
                text-decoration: none;
                color: $purple;
            }
        }
    }
}