<!--============================ dashboard ===========================-->

<div class="dashboard section container">
    <div class="dashboard__container grid">
        <div class="dashboard__content">
            <div class="dashboard__content-title">
                <h1 class="">My dashboard</h1>
            </div>
            <div class="dashboard__content-body">
                <div class="dashboard__content-body-items">
                    <p>0</p>
                    <p>Services</p>
                </div>

                <div class="dashboard__content-body-items">
                    <p>0</p>
                    <p>Domain</p>
                </div>

                <div class="dashboard__content-body-unpaid">
                    <p>0</p>
                    <p>Unpaid Invoice</p>
                </div>

                <div class="dashboard__content-body-items">
                    <p routerLink="ticket">0</p>
                    <p routerLink="ticket">Tickets</p>
                </div>
            </div>

            <div class="dashboard__content-services">
                <p class="dashboard__content-services-title">Your Active Products/Services</p>
                <p class="dashboard__content-services-list"> Reseller plans - Budget Reseller </p>
            </div>

            <div class="dashboard__content-ticketlist">
                <p class="dashboard__content-ticketlist-title">
                    Recent Support Tickets
                <p>

                <p class="dashboard__content-ticketlist-list">
                    Request here
                </p>
            </div>
        </div>
    </div>
</div>