<div class="main">
    <div class="main_container">
        <div class="main_container--left">
            <h1>Workspace for all users</h1>
            <h2>We are here to <span>Help you !!</span></h2>
            <button class="main_container--left--btn">Inquiry</button>
        </div>

        <div class="main_container--right">
            <div class="main_container--circle">
                <img src="../../assets/3d computer.png" alt="3d computer">
            </div>
            
               

        </div>
    </div>
</div>