<!--============================ New Ticket Page Html ===========================-->

<div class="nticket section container">
    <div class="nticket__container grid">
        <div class="nticket__content">
            <h2 class="nticket__content-title">Create New Ticket</h2>
            <div class="nticket__content-category">
                <h4 class="nticket__content-category-title">Category/Department</h4>
                <div class="nticket__content-category-input">
                    <input type="radio" name="input" class="nticket__content-category-radio">
                    <label>Domain</label>

                    <input type="radio" name="input" class="nticket__content-category-radio">
                    <label>App</label>

                    <input type="radio" name="input" class="nticket__content-category-radio">
                    <label>Web</label>

                    <input type="radio" name="input" class="nticket__content-category-radio">
                    <label>Digitl Marketing</label>
                </div>
            
                <div class="nticket__content-tickdet">
                    <h4 class="nticket__content-tickdet-title">Ticket Details</h4>
                    <input type="text" placeholder="Ticket Name" class="nticket__content-tickdet-input">
                    <input type="text" placeholder="Ticket Number" class="nticket__content-tickdet-input">
                    <input type="text" placeholder="Ticket Status" class="nticket__content-tickdet-input">
                    <input type="text" placeholder="Priority" class="nticket__content-tickdet-input">
                </div>

                <div class="nticket__content-message">
                    <h4 class="nticket__content-message-title">Message</h4>
                    <textarea cols="30" rows="10" placeholder="Write Something..." class="nticket__content-message-textarea"></textarea>
                </div>

                <div class="nticket__content-btn">
                    <button class="nticket__content-btn-create">Create Ticket</button>
                    <button class="nticket__content-btn-cancel">Cancel Ticket</button>
                </div>
            </div>
        </div>
    </div>
</div>
