%align-items {
    display: flex;
    align-items: center;
}


.section{
    padding: 3rem 0 4rem;
}

.container{
    width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
    row-gap: 1.5rem;
}

.fill{
    fill: $purple;
}

.fill2{
    fill:#fddff9;
}