/*============================ Google Font ===========================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/*============================ Variables Scss ===========================*/
$purple: #7F2EF8;
$black: #000000;
$white: white;
$liwhite:#f2f3f3;
$cream: #FFE8EF;
$orangeRed:#fb4b4e;
$grey:#e1e1e1;
$grey2:#808080;
$text:#545454;