<!--============================ Sign Up ===========================-->

<form class="signUp section container">
    <div class="signUp__container grid">
        <div class="signUp__content">
            <h2 class="signUp__content-subtitle">Create Keen Profile!</h2>
            <input type="text" placeholder="Full name" class="signUp__content-input" required="" maxlength="30">
            <input type="text" placeholder="Email" class="signUp__content-input" required="" maxlength="40">
            <input type="text" placeholder="Mobile number" class="signUp__content-input" required="" maxlength="15">
            <input type="text" placeholder="Password" class="signUp__content-input" required="" maxlength="30">
            <input type="text" placeholder="Confirm password" class="signUp__content-input" required="" maxlength="30">
            <input type="text" placeholder="Token code" class="signUp__content-input">
            <div class="signUp__content-checkbox">
                <input type="checkbox">
                <p class="signUp__content-p">By checking you acknowledge the terms of our privacy policy , and you confirm that you want to create your Keen profile.</p>
            </div>
            <button class="signUp__content-button">Sign Up</button>
            <p class="signUp__content-signIn">Already have an account? <a routerLink="Login">Sign In</a></p>
        </div>
    </div>
</form>