$purple: #7F2EF8;
$black: #000000;
$white: white;
$cream: #FFE8EF;
$orangeRed:#fb4b4e;
$grey:#e1e1e1;
$grey2:#808080;
$text:#545454;




// inheritance functions
%align-items {
    display: flex;
    align-items: center;
}


.section{
    padding: 3rem 0 4rem;
}

.container{
    width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
    row-gap: 1.5rem;
}

.fill{
    fill: $purple;
}

.fill2{
    fill:#fddff9;
}