<!--============================ Ticket Page ===========================-->

<div class="ticket section container">
    <div class="ticket__container grid">
        <div class="ticket__content">
            <div class="ticket__content-title">
                <h2 class="ticket__content-title-h2">All Tickets</h2>
                <a href="#" class="ticket__content-title-button" routerLink="../Nticket">New Ticket</a>
            </div>
            <a href="#" class="ticket__content-line"></a>
            <div class="ticket__content-heading">
                <a href="#" class="ticket__content-heading-items">Subject</a>
                <a href="#" class="ticket__content-heading-items">Ticket no</a>
                <a href="#" class="ticket__content-heading-items">Priority</a>
                <a href="#" class="ticket__content-heading-items">Requested</a>
                <a href="#" class="ticket__content-heading-items">Assigned Agent</a>
            </div>

            <div class="ticket__content-main">
                <div class="ticket__content-main-items">
                    <a href="#" class="ticket__content-main-items-logo">M</a>
                    <a href="#" class="ticket__content-main-items-subject">deepesh solanki</a>
                    <a href="#" class="ticket__content-main-items-number">#124</a>
                    <a href="#" class="ticket__content-main-items-priority">Medium <ion-icon name="chevron-down-outline"></ion-icon> </a>
                    <a href="#" class="ticket__content-main-items-requested">12 Jan</a>
                    <a href="#" class="ticket__content-main-items-agent">deepesh solanki</a>
                </div>
            </div>
        </div>
    </div>
</div>